%p#notice= notice

%p
  %b Date:
  = @history.date
%p
  %b Team:
  = @history.team
%p
  %b Result:
  = @history.result
%p
  %b Starter:
  = @history.starter
%p
  %b Location:
  = @history.location

= link_to 'Edit', edit_history_path(@history)
\|
= link_to 'Back', histories_path
